{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edget">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>My Forum</title>
        <!--bootstrap-->
        <link href="{% static 'forumsite/css/bootstrap.min.css' %}" rel="stylesheet">
        {% block linkstyle %} {% endblock %}
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
        <link href="{% static 'forumsite/css/tag.css' %}" rel="stylesheet">
        <link href="{% static 'forumsite/css/base.css' %}" rel="stylesheet">
    </head>
    <body>
        <div class="modal fade" id="dialog-login">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header text-center">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h5>登陆</h5>
                    </div>
                    <div class="modal-body">
                        <form role="form" action="/login/" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <input type="text" class="form-control" id="useraccount" name="useraccount" placeholder="账号">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" id="pwd" name="password" placeholder="密码">
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-warning form-control">登陆</button>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <p>忘记密码? <a href="#">找回密码</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="dialog-register">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header text-center">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h5>注册</h5>
                    </div>
                    <div class="modal-body">
                        <form role="form" action="/register/" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <input type="text" class="form-control" id="useraccount" name="username" placeholder="账号">
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" id="email" name="email" placeholder="邮箱地址">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" id="pwd" name="password1"  placeholder="密码">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" id="pwd" name="password2" placeholder="重复密码">
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-warning form-control">注册</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navibar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">
                        <img src="{% static 'forumsite/images/images.png' %}" alt="site brand" height="27">
                    </a>
                </div>
                <div class="collapse navbar-collapse" id="navibar" >
                    <ul class="nav navbar-nav navbar-left">
                        <li><a href="/">首页</a></li>
                        <li><a href="/faq">FAQ</a></li>
                        <li><a href="/about">关于</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right login-register">
                        {% if user.is_authenticated %}
                        <li>
                            <button class="btn btn-default btn-userinfo dropdown-toggle" data-toggle="dropdown">
                                <img src="{% static 'forumsite/images/avastar.jpg'%}" class="img-circle userhead">
                                <span>{{ user.username }}</span>
                            </button>
                            <button type="button" class="btn btn-warning btn-postthread btn-xs">
                                <span class="glyphicon glyphicon-edit"></span>
                                <span> <b>发帖</b></span>
                            </button>
                            <ul class="dropdown-menu usermenu">
                                <li><a href="#">HTML</a></li>
                                <li><a href="#">HTML</a></li>
                                <li><a href="#">HTML</a></li>
                                <li><a href="/logout">退出</a></li>
                            </ul>
                        </li>
                        {% else %}
                        <li><a href="#" data-toggle="modal" data-target="#dialog-login">登陆</a></li>
                        <li><a href="#" data-toggle="modal" data-target="#dialog-register">注册</a></li>
                        {% endif %}
                    </ul>
                    <ul class="navbar-right search">
                        <li>
                            <div class="search-container">
                                <span class="glyphicon glyphicon-search"></span>
                                <input type="text" class="search-input" placeholder="搜索" >
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        
        <div class="container">
            <div class="row">
                <div class="col-sm-2">
                    <ul class="category text-center">
                        <li class="cate-li">                     
                            <a href="/threads" class="category-top"><span class="glyphicon glyphicon-stop category-tag tag-all"></span>所有</a>
                        </li>
                        {% for cate in categories %}
                        <li class="cate-li">
                            <a href="/threads/{{ cate.nameEN }}" class="category-top"><span class="glyphicon glyphicon-stop category-tag tag-{{cate.nameEN}}"></span>{{ cate.nameCN }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                {% block maincontent %} {% endblock %}
            </div>
        </div>
        
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="{% static 'forumsite/js/jquery-2.2.0.min.js'%}"></script>
        <script src="{% static 'forumsite/js/bootstrap.min.js' %}"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        {% block includeScript %}   {% endblock %}
    </body>
</html>