{% extends 'forumsite/base.html' %}
{% load staticfiles %}


{% block linkstyle %}
    <link href="{% static 'forumsite/css/index.css' %}" rel="stylesheet">
{% endblock %}

{% block maincontent %}
    <div class="col-sm-10 threadlist-container">
        <div class="postlist">
            <ul class="postthreads">
                {% for thread in threads %}
                <li>
                    <div class="thread">
                        <div class="thread-container">
                            <a href="#" class="author">
                                <img src="{% static 'forumsite/images/avastar.jpg'%}" class="img-circle avatar">
                            </a>
                            <a href="/{{thread.categoryid.nameEN}}/{{ thread.hashcode }}" class="thread-item">
                                <h3 class="thread-title">{{ thread.title }}</h3>
                                <ul class="thread-info">
                                    <li class="thread-tags">
                                        <span class="label label-primary thread-label tag-{{thread.categoryid.nameEN}}-bk">{{ thread.categoryid.nameCN}} </span>
<!--                                        <span class="label label-default thread-label">Tutorial</span>-->
                                    </li>
                                    <li class="threadpost-info">
                                        <span class="username">{{ thread.userid.username }}</span>
                                        <time>{{ thread.pushtime }}</time>
                                    </li>
                                </ul>
                            </a>
                            <span class="comment-container">
                                <span class="glyphicon glyphicon-comment"></span>
                                <span class="comment-count">{{ thread.commentsCount }}</span>
                            </span>
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}

{% block includeScript %}
    <script>
        function testdataattr(){
            $("#dialog-login").modal();
        }
    </script>
    <script src="{% static 'forumsite/js/index.js'%}"></script>
{% endblock %}