{% extends 'forumsite/base.html' %}
{% load staticfiles %}
{% block linkstyle %}
    <link href="{% static 'forumsite/css/post.css' %}" rel="stylesheet">
    
    <link href="{% static 'forumsite/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'forumsite/css/summernote.css'%}" rel="stylesheet">

{% endblock %}
{% block maincontent %}
    <div class="col-sm-8">
        <div id="summernote"></div>
        
        <button type="button" class="btn btn-warning" onclick="save()">保存</button>
    </div>
    <div class="col-sm-2">
    </div>
{% endblock %}
{% block includeScript %}
    <script src="{% static 'forumsite/js/summernote.min.js' %}"></script>

    <script>
         $(document).ready(function(){
             $("#summernote").summernote({
                 height: 300,
                 placeholder: '在这里输入.....'
             });
             
         });   
        
        function save(){
            var markup = $("#summernote").summernote('code');
            alert(markup);
        }
    </script>
{% endblock %}