.tag-all {          
    color:darkslategrey;
}
.tag-equp {
    color:blueviolet;
}
.tag-language {
    color:cadetblue;
}
.tag-aq {
    color:chocolate;
}
.tag-career {
    color:cornflowerblue;
}
.tag-girl {
    color:pink;
}
.tag-boy {
    color:dodgerblue;
}
.tag-other {
    color:dimgray;
}