.tag-all {          
    color:darkslategray;
}
.tag-equipment {
    color:blueviolet;
}
.tag-language {
    color:cadetblue;
}
.tag-question {
    color:chocolate;
}
.tag-career {
    color:cornflowerblue;
}
.tag-girl {
    color:pink;
}
.tag-boy {
    color:dodgerblue;
}
.tag-others {
    color: dimgray;
}
.tag-equipment-bk {
    background-color:blueviolet;
}
.tag-language-bk {
    background-color:cadetblue;
}
.tag-question-bk {
    background-color:chocolate;
}
.tag-career-bk {
    background-color:cornflowerblue;
}
.tag-girl-bk {
    background-color:pink;
}
.tag-boy-bk {
    background-color:dodgerblue;
}
.tag-others-bk {
    background-color:dimgray;
}